<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <style>
        :root {
            --text-color: #1B1A1D;
            --accent-color: #00C8A0;
            --bg-color: #F7EBFF;
            --alternate-color: #464548;
            --alternate-bg-color: #5D8C69;
        }


        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            /* background-color: var(--bg-color); */

        }

        .container {
            width: 900px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h1 {
            text-align: center;
            font-weight: 700;
            font-size: 2.2rem;
            border: 2px solid var(--accent-color);
            color: var(--text-color);
            width: 400px;
            margin: 1rem auto;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .left {
            width: 440px;
            /* border: 1px solid red; */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
            border-radius: 5px;
        }

        .user {
            text-align: center;
            color: var(--text-color);
            background-color: var(--accent-color);
            font-size: 1.4rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 0.8rem 0;
        }

        .form {
            display: flex;
        }

        .input {
            width: 340px;
            background-color: #E8F3F1;
            padding: 10px 16px;
            font-size: 1.2rem;
            color: var(--text-color);
            border: 0px solid var(--accent-color);
            /* border-radius: 5px; */

        }

        .submit {
            width: 100px;
            border: none;
            background-color: var(--text-color);
            color: #FBF8FF;
            padding: 10px 16px;
            font-size: 1.2rem;
            letter-spacing: 1px;
            /* border-radius: 5px; */
        }

        .right {
            width: 440px;
            /* border: 1px solid red; */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
            border-radius: 5px;
        }

        ul {
            list-style: none;
        }

        .messages {
            background-color: #FBF8FF;
            height: 400px;
            overflow-y: auto;
            margin-top: 8px;
        }

        .messages div {
            padding: 4px 12px;
            font-size: 1.2rem;
            display: flex;
        }



        .messages div span {
            background-color: var(--alternate-bg-color);
            width: auto;
            color: #FBF8FF;
            padding: 10px 18px;
            border-radius: 25px;
            margin-bottom: 5px;

        }

        a {
            text-decoration: none;
            background-color: var(--alternate-bg-color);
            color: #E8F3F1;
            width: 300px;
            margin: 0 auto;
            display: block;
            text-align: center;
            padding: 10px 18px;
            font-size: 1.3rem;
            margin-top: 15px;
            letter-spacing: 1px;
        }


        /* .messages div:nth-child(odd) span {
            background-color: var(--accent-color);
            width: auto;
            color: #FBF8FF;
            padding: 10px 18px;
            float: right;
            border-radius: 25px;
            margin-bottom: 20px;

        } */
    </style>
</head>

<body>
    <div class="container-fluid">
        <h1>Chat on</h1>

    </div>

    <div class="container">
        <div class="left">
            <div class="user">Sherlock</div>
            <div class="inner-container">
                <div class="messages">


                </div>
                <form id="form1" class="form">
                    <div><input type="text" id="input1" class="input" placeholder="send a message"></div>
                    <div><button type="submit" class="submit">send</button></div>
                </form>
            </div>

        </div>
        <div class="right">
            <div class="user">Watson</div>
            <div class="inner-container">
                <div class="messages">



                </div>
                <form id="form2" class="form">
                    <div><input type="text" id="input2" class="input" placeholder="send a message"></div>
                    <div><button type="submit" class="submit">Send</button></div>
                </form>
            </div>
        </div>

    </div>
    <a href="/messages">view messages</a>




    <script src="/socket.io/socket.io.js"></script>
    <script>

        var socket = io();
        var messages = document.querySelectorAll('.messages')
        var messages1 = document.querySelector('.messages1')
        var messages2 = document.querySelector('.messages2')
        console.log(messages1)
        var form1 = document.getElementById('form1');
        var input1 = document.getElementById('input1');

        form1.addEventListener('submit', function (e) {
            e.preventDefault();
            if (input1.value) {
                socket.emit('chat message', { user: "sherlock", message: input1.value });
                input1.value = '';
            }
        });
        form2.addEventListener('submit', function (e) {
            e.preventDefault();

            if (input2.value) {

                socket.emit('chat message', { user: "watson", message: input2.value });
                input2.value = '';
            }
        });
        socket.on("chat message", function (msg) {
            console.log(msg)
            messages.forEach(message => {
                message.innerHTML += `
       <div>
                        <span>${msg.message}

                            <div style="font-size: 14px;">${msg.user}</div>
                        </span>

                    </div>
    
    `
            })


        });

    </script>
</body>

</html>